.container {
    display: flex;
    align-items: stretch;
    background-color: #ffffff;
}

.sidebarWrapper {
    display: flex;
    align-items: flex-end;
}

.mainWrapper {
    display: flex;
    align-items: flex-start;
    margin: 0 auto;
}

.seatInfoWrapper {
    display: flex;
    margin-bottom: 32px;
    gap: 2em;
}
