/* 타이틀 영역 */
.headerWrapper {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  width: 86rem;
  padding-top: 80px;
  padding-bottom: 43px;
}
.headerWrapper h2 {
  font-size: 30px;
  font-weight: bold;
  color: #191f28;
  display: inline-block;
  line-height: 33px;
  height: 33px;
  vertical-align: middle;
}
.headerWrapper span {
  font-size: 15px;
  color: #8f969b;
  display: inline-block;
  padding-left: 50px;
  line-height: 33px;
  height: 33px;
  vertical-align: middle;
}

.sortBox {
  display: flex;
  align-items: center;
  gap: 8rem;
}
.dateBox {
  display: flex;
  align-items: center;
  gap: 1rem;
}
.dateBox span {
  font-size: 15px;
  font-weight: bold;
}
.customDateInput {
  height: 3rem;
  border-radius: 0.3rem;
  color: #333d4b;
  font-size: 15px;
  font-weight: 500;
  cursor: pointer;
  padding-left: 1rem;
}
.react-datepicker__calendar-icon {
  padding: 0.9rem 0.5rem 0.5rem 0.5rem;
}

/* 정렬, 날짜 선택 영역 */
.dropdownFloor {
  position: relative;
  /*margin-bottom: 20px;*/
}
.dropdownToggle {
  width: 5rem;
  height: 3rem;
  background: none;
  border-radius: 0.3rem;
  color: #333d4b;
  font-size: 20px;
  font-weight: bold;
  cursor: pointer;
}
.dropdownMenu {
  position: absolute;
  z-index: 1;
  top: 3.5rem;
  left: -3px;
  border: 1px solid #474c53;
  background-color: #fff;
  width: 85px;
  box-sizing: border-box;
  border-radius: 14px;
  padding: 10px 0;
}
.dropdownMenu ul {
  max-height: 480px;
  overflow: hidden;
  overflow-y: auto;
}
.dropdownMenu ul li {
  height: 46px;
  text-align: center;
  font-size: 14px;
  line-height: 46px;
  cursor: pointer;
}
.dropdownMenu ul li:hover {
  background-color: #f2f3f6;
}
.dropdownMenu ul li .is-selected {
  color: #3c86ff;
}

.noDropdownMenu {
  display: none;
}

/* 캘린더 */

